*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/auth.json
/node_modules
/vendor

/public/build
/public/hot
/public/storage
/public/uploads/*
/public/images/uploads/*

/storage/*.key
/storage/pail
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Database / backup files
*.sql
!database/myfamilyhub_sample.sql
*.sqlite
*.sqlite3
*.bak
*.backup
*.zip
*.rar

Homestead.json
Homestead.yaml
Thumbs.db
